.packages
.vscode
build
.env

# Debian packaging
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/jaguar/
debian/tmp/

# Stray host build of the jag CLI (use build/jag)
/jag
