#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# We use the existing Makefile to build the binary.
	make jag

override_dh_auto_test:
	# Skip tests for packaging
	true

override_dh_auto_install:
	# Install the binary to /usr/bin
	mkdir -p debian/jaguar/usr/bin
	cp build/jag debian/jaguar/usr/bin/jag

