name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  build_jag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Build jag
        run: |
          GOOS=linux JAG_BINARY=jag_linux make jag
          GOOS=darwin JAG_BINARY=jag_macos make jag
          GOOS=windows JAG_BINARY=jag_windows.exe make jag
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: jag-build
          path: build/jag_*
      - name: Upload jag linux
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/jag_linux
          tag: ${{ github.ref }}
          asset_name: jag_${{ github.ref }}_linux
          overwrite: true

  sign_jag_windows:
    runs-on: windows-signing
    needs: [build_jag]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: jag-build
      - name: Sign jag on Windows
        run: |
          dir
          signtool sign /debug /n "Toitware ApS" /t http://timestamp.digicert.com/ $PWD/jag_windows.exe
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: jag-signed-windows
          path: jag_windows.exe
      - name: Upload jag Windows
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: jag_windows.exe
          tag: ${{ github.ref }}
          asset_name: jag_${{ github.ref }}_windows.exe
          overwrite: true

  sign_jag_macos:
    runs-on: macos-latest
    needs: [build_jag]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: jag-build
      - name: Sign jag on macOS
        env:
          MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          KEYCHAIN_PWD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          echo $MACOS_CERTIFICATE | base64 --decode > certificate.p12
          security create-keychain -p $KEYCHAIN_PWD build.keychain security default-keychain -s jaguar.keychain
          security unlock-keychain -p $KEYCHAIN_PWD jaguar.keychain
          security import certificate.p12 -k jaguar.keychain -P $MACOS_CERTIFICATE_PWD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k $KEYCHAIN_PWD jaguar.keychain
          security find-identity -v
          echo "hello"
          /usr/bin/codesign --help
          /usr/bin/codesign --force -s CLI-code-sign ./jag_macos -v
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: jag-signed-macos
          path: jag_macos
      - name: Upload jag macOS
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: jag_macos
          tag: ${{ github.ref }}
          asset_name: jag_${{ github.ref }}_macos
          overwrite: true

  build_toit_images:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build cmake
          ninja --version
          cmake --version
          gcc --version

      - uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: Build artifacts
        run: |
          make install-esp-idf
          . ./third_party/toit/third_party/esp-idf/export.sh
          make image
          tar -czf build/image.tar.gz -C ./build -h image
          cp ./build/image.snapshot ./build/jaguar.snapshot
      - name: Upload image artifacts
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/image.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
      - name: Upload jaguar.snapshot artifact
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/jaguar.snapshot
          tag: ${{ github.ref }}
          overwrite: true
